.header {
  background-color: lightblue;
  height: 180px;
  padding: 30px;
  width: 100%;
}
.task-container{
  padding: 15px;
  margin:15px;
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-Top: 5px solid;
}
.task-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.name-description p{
  margin-top:27px;
}
.name-description span{
  font-weight: bold;
  font-size: 20px;
}
.icons{
  display: flex;
  justify-content: flex-end;
  
}
.icons i{
  margin-right: 8px;
}




